데이터 프레임은 데이터를 직접 입력해서 만들 수도 있고, 외부 데이터를 가져와서 만들 수도 있다.

|이름|영어 점수|수학 점수|
|----|---------|---------|
|김지훈|90|50|
|이유진|80|60|
|박동현|60|100|
|김민지|70|20|

# pandas 패키지 로드하기

먼저 pandas 패키지를 로드한다. pandas는 데이터를 가공할 때 사용하는 패키지이다.

In [1]:
import pandas as pd

# 데이터 프레임 만들기

데이터 프레임을 만들 때는 pandas의 DataFrame()을 이용한다. DataFrame()에서 D와 F는 대문자로 입력해야 하니 주의해야 한다. 함수 이름은 소문자로만 되어 있기도 하고 대소문자가 섞여 있기도 한다.

DataFrame()에 중괄호{}를 입력한 다음 변수명, 콜론(:), 변수에 넣을 값을 차례로 입력한다. 변수명은 따옴표를 이용해 문자 형태로 입력하고 ,변수에 넣을 값은 []안에 입력한다.

In [2]:
df = pd.DataFrame({'name' : ['김지훈','이유진','박동현','김민지'],
                  'english' : [90,80,60,70],
                  'math' : [50, 60, 100, 20]})
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

데이터 프레임을 완성했으니 데이터를 분석해 보기로 한다. sum()을 이용해 전체 학생의 영어 점수와 수학 점수 합계를 구한다.

# 특정 변수의 값 추출하기

데이터 프레임에서 특정 변수의 값을 추출하는 방법을 알아본다. 데이터 프레임 이름 뒤에 []를 입력한 다음 문자 형태로 변수명을 입력하면 된다. 다음 코드를 실행하면 df에서 영어 점수만 추출한다.

In [3]:
df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64

# 변수의 값으로 합계 구하기

df에서 영어 점수를 추출하는 코드를 sum()에 입력하면 영어 점수 합계를 출력한다.

In [5]:
sum(df['english'])

300

In [6]:
# 같은 방식으로 english 대신 math를 입력해 수학 점수 합계를 구할 수 있다.
sum(df['math'])

230

# 변수의 값으로 평균 구하기

이번에는 영어 점수와 수학 점수의 평균을 구해 보기로 한다. 앞에서 구한 합계를 학생 수로 나누면 된다.

In [7]:
sum(df['english']) / 4 #영어 점수 평균

75.0

In [8]:
sum(df['math']) / 4 # 수학 점수 평균

57.5