변수 만들기

In [ ]:
데이터 분석은 변수를 만드는 것으로 시작한다. 변수를 만들 때는 등호(=)를 사용한다.

In [3]:
a = 1 #a에 1 할당
a     #a 출력

1

In [4]:
b = 2
b

2

In [5]:
c = 3
c

3

In [6]:
d = 3.5
d

3.5

변수를 만들면 변수를 이용해 연산할 수 있다.

In [7]:
a+ b

3

In [8]:
a + b + c

6

In [9]:
4 / b

2.0

In [10]:
5 * b

10

# 변수명 정하기 규칙

변수명은 문자, 숫자, 언더바를 조합해 정할 수 있다. 단, 반드시 문자로 시작해야 한다.

변수명은 한글로 정해도 되지만, 간혹 오류가 날 때가 있으니 영문으로 정하길 권한다. 또한 대소문자를 구분하므로 헷갈리지 않도록 모든 변수를 소문자로 만드는 습관을 들이는게 좋다.

변수에는 값을 여러 개 넣을 수 있다. 대괄호 안에 쉼표를 이용해 값을 나열하면 된다.

In [13]:
var1 = [1,2,3]
var1

[1, 2, 3]

In [14]:
var2 = [4,5,6]
var2

[4, 5, 6]

In [15]:
var1+ var2

[1, 2, 3, 4, 5, 6]

# 문자로 된 변수 만들기

변수에 문자를 넣을 때는 문자 앞 뒤에 땅모표(')를 붙여야 한다. 이는 문자로 구성된 변수라는 것을 의미한다.

In [16]:
str1 = 'a'
str1

'a'

In [17]:
str2='text'
str2

'text'

In [18]:
str3 = 'Heelo World!'
str3

'Heelo World!'

'[]'에 숫자 여러 개를 넣어 변수를 만드는 것과 마찬가지로, '[]'에 문자 여러 개를 넣어 변수를 만들 수 있다.

In [20]:
str4=['a','b','c']
str4

['a', 'b', 'c']

In [21]:
str5=['Hello','World','is','good!']
str5

['Hello', 'World', 'is', 'good!']

In [22]:
str2 + str3

'textHeelo World!'

In [23]:
str2 + ' ' + str3

'text Heelo World!'

## 문자로 된 변수로는 연산할 수 없다.
숫자로 된 변수와 달리 문자로 된 변수로는 연산할 수 없다. 문자 변수로 연산하면 에러 메시지를 출력한다.

In [25]:
str1 + 2

TypeError: can only concatenate str (not "int") to str